# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pythons
pythons/

# Plugins .venv
.venv/

# Testing
.pytest_cache/
.tox/
coverage.xml
*.cover
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
wheels/
build/
dist/
test_venv/  
# Docusaurus
.docusaurus/
node_modules/

src/plugin_host/docs_html/*
*.egg-info/
node_modules/