# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pythons
pythons/

# Plugins .venv
.venv/

# Testing
.pytest_cache/
.tox/
coverage.xml
*.cover
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
wheels/
build/
dist/
test_venv/  
# Docusaurus
.docusaurus/
node_modules/

# Evoker specific generated

.mypy_cache/
pip/
.ruff_cache/
stdout.txt
test_wheels/
full_output.txt
.hypothesis/
test_output.log

*.tmp
*.log
*.exe
*.whl
dist/
test_wheels/
pip/
.mypy_cache/
.ruff_cache/
.hypothesis/
test_venv/
out.txt
err.txt
stdout.txt
full_output.txt

