# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pythons
pythons/

# Plugins .venv
.venv/

# Testing
.pytest_cache/
.tox/
coverage.xml
*.cover
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
wheels/
build/
dist/
test_venv/  
# Docusaurus
.docusaurus/
node_modules/

# Evoker specific generated
hosts/python/src/plugin_host/docs_html/
hosts/python/src/plugin_host/pythons/dist/
*.egg-info/
hosts/rust/target/
hosts/c/build/
hosts/cpp/build/
hosts/python/build/
hosts/python/dist/
hosts/python/.venv/
hosts/python/.pytest_cache/
hosts/python/.hypothesis/
hosts/c/cpp/build/
hosts/c/.cache/
hosts/cpp/.cache/